@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/avenir-book.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/avenir-roman.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/avenir-medium.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/avenir-heavy.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/avenir-black.otf") format("opentype");
  font-display: swap;
}

:root {
  --background: #1a1a1a;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Avenir", Arial, sans-serif;
}
.main__container {
  max-width: 1000px;
  margin-inline: auto;
  background: rgb(124, 145, 175);
  padding: 3rem;
}

/* Marquee styles */
.marquee {
  --gap: 10px;
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
}

.marquee__content {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  gap: var(--gap);
}

.enable-animation .marquee__content {
  animation: scroll 20s linear infinite;
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}
/* .marquee:hover .marquee__content {
  animation-play-state: paused;
} */
